.card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 300px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.outOfStockClass {
    background-color: #ffb1b7;
    /* light red background */
    border: 1px solid #f1606f;
    /* red border */
    opacity: 0.85;
    /* dimmed */
}